@model IEnumerable<WebWarehouse.Model.Item>

@{
    ViewBag.Title = "List";
}

<h2>@ViewBag.CategoryName</h2>

@if (Model.ToList().Count == 0)
{
    <div class="jumbotron">
        <h2>Det er ingen varer i denne kategorien. Kom igjen senere for å kjøpe noe!</h2>
    </div>
}
else
{
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            @if (ViewBag.LoggedInn == true)
            {
                <th>Kjøp</th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                @if (ViewBag.LoggedInn == true)
                {
                    <td>
                        <button type="button" class="btn btn-primary addToCart" data-itemid="@item.ID" data-userid="@ViewBag.UserID">
                            <i class=" fa fa-shopping-cart fa-2x">
                            </i>
                        </button>
                    </td>
                }
            </tr>
        }
    </table>
}

<script>

    $('.addToCart').click(function () {

        var data_itemid = $(this).data('itemid');
        var data_userid = $(this).data('userid');

        console.log("clicked orderbutton");
        $.ajax({

            url: '@Url.Action("AddItem","Orders")',
            dataType: "JSON",
            data: {
                itemid: data_itemid,
                userid: data_userid
            },
            success: function (data) {
                var data = $.parseJSON(data);

                if (data.error == 'none') {
                    new PNotify({
                        title: 'Vare lagt til i handlekurven',
                        text: 'Du har lagt til ' + data.ItemName + ' i handlekurven. Ny totalpris er: ' + data.TotalPrice + ' kr',
                        type: "success",
                        addclass: "stack-topleft",
                        stack: stack_topleft
                    });
                } else if (data.error != 'none') {
                    new PNotify({
                        title: 'Feil!',
                        text: 'Noe feil skjedde når du prøvde å legge til varen i handlekurven: ' + data.error,
                        type: "error",
                        addclass: "stack-topleft",
                        stack: stack_topleft
                    });
                } else {
                    new PNotify({
                        title: 'Feil!',
                        text: 'OOOPS!: ' + data.error,
                        type: "error",
                        addclass: "stack-topleft",
                        stack: stack_topleft
                    });
                }

            },
            error: function (data) {
                console.log(data);
            },
        })
    });
</script>